@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9fqyqz');
  src:  url('fonts/icomoon.eot?9fqyqz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9fqyqz') format('truetype'),
    url('fonts/icomoon.woff?9fqyqz') format('woff'),
    url('fonts/icomoon.svg?9fqyqz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-compass:before {
  content: "\e949";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-bin:before {
  content: "\e9ac";
}
