<template>
  <div style="margin-bottom: 10px;">
    <button v-on:click="saveOption(1)" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
      <span class="icon-user-plus"></span> Crear
    </button>
  </div>
  <table class="table" id="user-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Tipo de identificacion</th>
        <th scope="col">Identificacion</th>
        <th scope="col">Area</th>
        <th scope="col">Pais</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody id="dataInfo">
    <tr :id="'row_'+ user.id" v-for="user in users" :key="user.id">
      <td>{{user.first_name}} {{user.other_name}}</td>
      <td>{{user.first_last_name}} {{user.second_last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{getDocumentTest(user.id_document)}}</td>
      <td>{{user.number}}</td>
      <td>{{getAreaTest(user.id_area)}}</td>
      <td>{{getCountryTest(user.id_country)}}</td>
      <td>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-info" v-on:click="viewUser(user.id)"><span class="icon-zoom-in"></span></button>
            <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" v-on:click="editUser(user.id)" ><span class="icon-pencil"></span></button>
            <button type="button" class="btn btn-danger" v-on:click="deleteUser(user.id)"><span class="icon-bin"></span></button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Usuarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="alert alert-danger" role="alert" style="display: none" id="erros">
            
          </div>
          <form>
            <input type="hidden" name="option" id="option">
            <input type="hidden" name="idUser" id="idUser">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firs_last_name" >Primer apellido</label>
                <input type="text" class="form-control" id="firs_last_name" name="firs_last_name" pattern="[a-zA-Z]">
                <div class="invalid-feedback" id="error_firs_last_name"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="second_last_name">Segundo apellido</label>
                <input type="text" class="form-control" id="second_last_name" name="second_last_name">
                <div class="invalid-feedback" id="error_second_last_name"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="first_name">Primer Nombre</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
                <div class="invalid-feedback" id="error_first_name"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="other_name">Otros Nombres</label>
                <input type="text" class="form-control" id="other_name" name="other_name">
                <div class="invalid-feedback" id="error_other_name"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="country">Pais</label>
                <select class="form-control" id="country">
                  <option v-for="country in countries" :key="country.id_country" :value="country.id_country" >{{country.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="identification_tipe">Tipo de identificacion</label>
                <select class="form-control" id="identification_tipe">
                  <option v-for="document in documents" :key="document.id_document" :value="document.id_document" >{{document.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="number">Numero de identificacion</label>
                <input type="text" class="form-control" id="number" name="number">
                <div class="invalid-feedback" id="error_number"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="number">Correo Electroncico</label>
                <input type="text" class="form-control" id="email" name="email" disabled>
              </div>
              <div class="form-group col-md-6">
                <label for="date">Fecha de ingreso</label>
                <input type="date" class="form-control" id="date" name="date">
                <div class="invalid-feedback" id="error_date"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="area">Area</label>
                <select class="form-control" id="area">
                  <option v-for="area in areas" :key="area.id_area" :value="area.id_area" >{{area.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <label for="date">Fecha de registro</label>
                <p  class="form-control" id="register_date">
                  {{today}}
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="btnSave" type="button" class="btn btn-primary" v-on:click="saveChanges()">Guardar</button>
      </div>
    </div>
  </div>
</div>
</template>

<script lang="ts">
  import { Options, Vue } from 'vue-class-component';
  import moment from 'moment'

  @Options({
    props: {
      msg: String
    }
  })
  export default class UserComponent extends Vue {
    tittle: string = 'Este es el titulo '
    url: string = 'http://127.0.0.1:3000/';
    users: any = [];
    countries: any = [];
    areas: any = [];
    documents: any = [];
    today: string = '';

    saveOption(option: any) {
      window.$('#option').val(option);
      this.today = this.formatDate(new Date()) + ' ' + this.formatHour(new Date());
      this.clearForm();
    }

    async editUser(id: any) {
      this.clearForm();
      window.$('#option').val(2);

      const user = await fetch(this.url+'user/'+id, {
        method: 'get',
        headers: {
          'content-type': 'application/json',
          'Access-Control-Allow-Origin': "*"
        }
      }).then(res => {
      return res.json();
      }).then((res) => {
        return res;
      });

      this.disableEditForm();
      this.showDataUser(user);
      

    }
    async viewUser(id: any) {
      window.$("#btnSave").css("display", "none");
      const user = await fetch(this.url+'user/'+id, {
        method: 'get',
        headers: {
          'content-type': 'application/json',
          'Access-Control-Allow-Origin': "*"
        }
      }).then(res => {
      return res.json();
      }).then((res) => {
        return res;
      });

      this.disableAllForm();
      this.showDataUser(user);
    }

    async deleteUser(id:any){
      if (confirm('Está seguro de que desea eliminar el empleado?')) {
        await fetch(this.url+'user/'+id, {
          method: 'delete',
          headers: {
            'content-type': 'application/json',
            'Access-Control-Allow-Origin': "*"
          }
        }).then(res => {
        return res.json();
        }).then(() => {
          const idRemove = "#row_"+id;
          window.$(idRemove).remove();
          alert('Registro eliminado con exito');
        });
      } 
    }


    showDataUser(user:any){

      const registerDate = this.formatDate(new Date(user.date_register)) + ' ' + this.formatHour(new Date(user.date_register));
      const dateIngress = this.formatDate2(new Date(user.date_ingress));

      window.$('#firs_last_name').val(user.first_last_name);      
      window.$('#second_last_name').val(user.second_last_name);
      window.$('#first_name').val(user.first_name);
      window.$('#other_name').val(user.other_name);
      window.$('#number').val(user.number);
      window.$('#date').val(dateIngress);
      window.$('#country').val(user.id_country);
      window.$('#identification_tipe').val(user.id_document);
      window.$('#area').val(user.id_area);
      window.$('#idUser').val(user.id);
      window.$('#email').val(user.email);
      window.$('#register_date').html(registerDate);
    }

    disableAllForm(){
      window.$('#firs_last_name').prop('disabled', 'true');      
      window.$('#second_last_name').prop('disabled', 'true');
      window.$('#first_name').prop('disabled', 'true');
      window.$('#other_name').prop('disabled', 'true');
      window.$('#number').prop('disabled', 'true');
      window.$('#date').prop('disabled', 'true');
      window.$('#country').prop('disabled', 'true');
      window.$('#identification_tipe').prop('disabled', 'true');
      window.$('#area').prop('disabled', 'true');
    }
    disableEditForm(){
      window.$('#number').prop('disabled', 'false');      
      window.$('#identification_tipe').prop('disabled', 'true');
    }
    enableForm(){
      window.$('#firs_last_name').removeAttr("disabled");      
      window.$('#second_last_name').removeAttr("disabled");
      window.$('#first_name').removeAttr("disabled");
      window.$('#other_name').removeAttr("disabled");
      window.$('#number').removeAttr("disabled");
      window.$('#date').removeAttr("disabled");
      window.$('#country').removeAttr("disabled");
      window.$('#identification_tipe').removeAttr("disabled");
      window.$('#area').removeAttr("disabled");
    }

    validateName(text: string){
      const textArray = text.split('');
      let errors = 0;
      textArray.map((t) => {
        const pattern = /[A-Z]/;
        if(!pattern.test(t)){
          errors += 1;
        }
      })
    
      return errors > 0;
    }

    validateDocument(text: string){
      const textArray = text.split('');
      let errors = 0;
      textArray.map((t) => {
        const pattern = /[A-Za-z0-9]/;
        if(!pattern.test(t)){
          errors += 1;
        }
      })
    
      return errors > 0;
    }

    validateForm(){
     
      let countError = 0;
      const firs_last_name = window.$('#firs_last_name');
      const error_firs_last_name = window.$('#error_firs_last_name');
      
      const second_last_name = window.$('#second_last_name');
      const error_second_last_name = window.$('#error_second_last_name');
      const first_name = window.$('#first_name');
      const error_first_name = window.$('#error_first_name');
      const other_name = window.$('#other_name');
      const error_other_name = window.$('#error_other_name');
      const number = window.$('#number');
      const error_number = window.$('#error_number');
      const date = window.$('#date');
      const error_date = window.$('#error_date');

      if(firs_last_name.val() == ''){
        countError += 1;
        error_firs_last_name.css('display', 'block');
        error_firs_last_name.html('Este campo es obligatorio');
      }else {
        if(firs_last_name.val().length > 20){
          countError += 1;
          error_firs_last_name.css('display', 'block');
          error_firs_last_name.html('Este campo solo puede contener 20 caracteres');
        }else{
          if(this.validateName(firs_last_name.val())){
            countError += 1;
            error_firs_last_name.css('display', 'block');
            error_firs_last_name.html('Este campo solo puede letras de la A a la Z en mayuscula');
          }else{
            error_firs_last_name.css('display', 'none');
          }
        }
      }

      if(second_last_name.val() == ''){
        countError += 1;
        error_second_last_name.css('display', 'block');
        error_second_last_name.html('Este campo es obligatorio');
      }else {
        if(second_last_name.val().length > 20){
          countError += 1;
          error_second_last_name.css('display', 'block');
          error_second_last_name.html('Este campo solo puede contener 20 caracteres');
        }else{
          if(this.validateName(second_last_name.val())){
            countError += 1;
            error_second_last_name.css('display', 'block');
            error_second_last_name.html('Este campo solo puede letras de la A a la Z en mayuscula');
          }else{
            error_second_last_name.css('display', 'none');
          }
        }
      }

      if(first_name.val() == ''){
        countError += 1;
        error_first_name.css('display', 'block');
        error_first_name.html('Este campo es obligatorio');
      }else {
        if(first_name.val().length > 20){
          countError += 1;
          error_first_name.css('display', 'block');
          error_first_name.html('Este campo solo puede contener 20 caracteres');
        }else{
          if(this.validateName(first_name.val())){
            countError += 1;
            error_first_name.css('display', 'block');
            error_first_name.html('Este campo solo puede letras de la A a la Z en mayuscula');
          }else{
            error_first_name.css('display', 'none');
          }
        }
      }

      if(other_name.val() != '') {
         if(other_name.val().length > 50){
          countError += 1;
          error_other_name.css('display', 'block');
          error_other_name.html('Este campo solo puede contener 50 caracteres');
        }else{
          if(this.validateName(other_name.val())){
            countError += 1;
            error_other_name.css('display', 'block');
            error_other_name.html('Este campo solo puede letras de la A a la Z en mayuscula');
          }else{
            error_other_name.css('display', 'none');
          }
        }
      }

      if(number.val() == ''){
        countError += 1;
        error_number.css('display', 'block');
        error_number.html('Este campo es obligatorio');
      }else {
        if(number.val().length > 20){
          countError += 1;
          error_number.css('display', 'block');
          error_number.html('Este campo solo puede contener 20 caracteres');
        }else{
          if(this.validateDocument(number.val())){
            countError += 1;
            error_number.css('display', 'block');
            error_number.html('Este campo solo puede letras de la A a la Z en mayuscula');
          }else{
            error_number.css('display', 'none');
          }
        }
      }

      if(date.val() == '') {
        countError += 1;
        error_date.css('display', 'block');
        error_date.html('Este campo es obligatorio');
      }else{

        const validateDate = this.validateDate(date.val());
        if(validateDate.error){
          countError += 1;
          error_date.css('display', 'block');
          error_date.html('La fecha esta fuera del rango, deberia estar entre : '+ validateDate.min + ' y '+ validateDate.max);
        }else{
          error_date.css('display', 'none');
        }
      }
      return countError > 0;
    }

    clearForm(){
      window.$('#firs_last_name').val('');      
      window.$('#second_last_name').val('');
      window.$('#first_name').val('');
      window.$('#other_name').val('');
      window.$('#number').val('');
      window.$('#date').val('');
      window.$('#option').val('');
      window.$("#btnSave").css("display", "block");
      this.enableForm();
    }

    validateDate(date:string){

      let error = false;
      const min = moment().format('Y')+'-'+ (parseInt(moment().format('M')) -1) + '-' + moment().format('D');
      const max = moment().format('Y-M-D');

      const minDate = new Date(min);
      const maxDate = new Date(max);
      const actualDate = new Date(date);

      if(actualDate.getTime() >= minDate.getTime() && actualDate.getTime() <= maxDate.getTime()){
        error = false;
      }else {
        error = true;
      }

      return {
        'error': error,
        'min': min,
        'max' : max
      };
    }
  

    async mounted() {
      this.users = await this.getInitialUserData();
      this.countries = await this.getcountries();
      this.areas = await this.getareas();
      this.documents = await this.getdocuments();
      //window.$('#user-table').DataTable();
      new window.dt('#user-table');
      this.today = this.formatDate(new Date()) + ' ' + this.formatHour(new Date());
    }

    async saveChanges(){
    
      const firs_last_name = window.$('#firs_last_name');      
      const second_last_name = window.$('#second_last_name');
      const first_name = window.$('#first_name');
      const other_name = window.$('#other_name');
      const country = window.$('#country');
      const identification_tipe = window.$('#identification_tipe');
      const area = window.$('#area');
      const number = window.$('#number');
      const date = window.$('#date');
      const option = window.$('#option').val();
      const idUser = window.$("#idUser").val();
      const email = window.$('#email').val();
      const FinalMail = email != "" ? email : "";
      
        const data = {
          "first_name": first_name.val(),
          "other_name": other_name.val(),
          "first_last_name": firs_last_name.val(),
          "second_last_name": second_last_name.val(),
          "id_country": country.val() ,
          "id_document": identification_tipe.val(),
          "number": number.val(),
          "date_ingress": new Date(date.val()).toISOString(),
          "id_area": area.val(),
          "status": 1,
          "date_register": new Date(this.today).toISOString(),
          "email": FinalMail
        }

      if(!this.validateForm()){
        switch (option) {
          case "1":
            await fetch(this.url+'user', {
              method: 'post',
              body: JSON.stringify(data),
              headers: {
                'content-type': 'application/json',
                'Access-Control-Allow-Origin': "*"
              }
            }).then(res => {
              return res.json();
            }).then((res) => {
              if(res.error){
                res.msg.map((msg: any) => {
                  window.$("#erros").append('<p>' + msg + '</p>');
                })
                window.$("#erros").css('display', 'block');
              }else{
                window.$("#erros").css('display', 'none');
                window.$("#erros").html('');

                const strData = `
                <tr id="row_${res.id}">
                <td>${res.first_name} ${res.other_name}</td>
                <td>${res.first_last_name} ${res.second_last_name}</td>
                <td>${res.email}</td>
                <td>${this.getDocumentTest(res.id_document)}</td>
                <td>${res.number}</td>
                <td>${this.getAreaTest(res.id_area)}</td>
                <td>${this.getCountryTest(res.id_country)}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-info" v-on:click="viewUser(user.id)"><span class="icon-zoom-in"></span></button>
                      <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" v-on:click="editUser(user.id)" ><span class="icon-pencil"></span></button>
                      <button  v-on:click="deleteUser(user.id)" type="button" class="btn btn-danger"><span class="icon-bin"></span></button>
                    </div>
                  </div>
                </td>
                </tr>
                `;
                window.$("#dataInfo").append(strData);
                this.clearForm();
                alert('Datos Guardados con exito');
              }
            });
            break;

          case "2":
            await fetch(this.url+'user/'+ idUser, {
              method: 'put',
              body: JSON.stringify(data),
              headers: {
                'content-type': 'application/json',
                'Access-Control-Allow-Origin': "*"
              }
            }).then(res => {
              return res.json();
            }).then((res) => {
              const idRow = "#row_"+idUser;

              const strData = `
                <td>${res.first_name} ${res.other_name}</td>
                <td>${res.first_last_name} ${res.second_last_name}</td>
                <td>${res.email}</td>
                <td>${this.getDocumentTest(res.id_document)}</td>
                <td>${res.number}</td>
                <td>${this.getAreaTest(res.id_area)}</td>
                <td>${this.getCountryTest(res.id_country)}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-info" v-on:click="viewUser(user.id)"><span class="icon-zoom-in"></span></button>
                      <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" v-on:click="editUser(user.id)" ><span class="icon-pencil"></span></button>
                      <button  v-on:click="deleteUser(user.id)" type="button" class="btn btn-danger"><span class="icon-bin"></span></button>
                    </div>
                  </div>
                </td>
                `;

              window.$(idRow).html(strData);
              alert('Datos Modificados con exito');
            })

            break;
        
          default:
            break;
        }
       }
    }

    padTo2Digits(num: any) {
      return num.toString().padStart(2, '0');
    }

    formatDate(date: Date) {
      return [
        this.padTo2Digits(date.getDate()),
        this.padTo2Digits(date.getMonth() + 1),
        date.getFullYear(),
      ].join('/');
    }

    formatDate2(date: Date){
      return [
        date.getFullYear(),
        this.padTo2Digits(date.getMonth() + 1),
        this.padTo2Digits(date.getDate()),
      ].join('-');
    }

    formatHour(date: Date) {
      return [
        this.padTo2Digits(date.getHours()),
        this.padTo2Digits(date.getMinutes()),
        this.padTo2Digits(date.getSeconds()),
      ].join(':');
    }

    getCountryTest(id: any): any {
      let name = '';
      this.countries.filter( function(country: any) {
        if(country.id_country == id){
          name = country.name;
        }
      });
      return name;
    }

    getAreaTest(id: any): any {
      let name = '';
      this.areas.filter( function(area: any) {
        if(area.id_area == id){
          name = area.name;
        }
      });
      return name;
    }

    getDocumentTest(id: any): any {
      let name = '';
      this.documents.filter( function(document: any) {
        if(document.id_document == id){
          name = document.name;
        }
      });
      return name;
    }
    
    async getInitialUserData(){
      return await fetch(this.url+'user', {
        method: 'get',
        headers: {
          'content-type': 'application/json',
          'Access-Control-Allow-Origin': "*"
        }
      }).then(res => {
      return res.json();
      }).then((res) => {
        return res;
      });
    }

    async getcountries(){
      return await fetch(this.url+'country', {
        method: 'get',
        headers: {
          'content-type': 'application/json',
          'Access-Control-Allow-Origin': "*"
        }
      }).then(res => {
      return res.json();
      }).then((res) => {
        return res;
      });
    }

    async getdocuments(){
      return await fetch(this.url+'document', {
        method: 'get',
        headers: {
          'content-type': 'application/json',
          'Access-Control-Allow-Origin': "*"
        }
      }).then(res => {
      return res.json();
      }).then((res) => {
        return res;
      });
    }

    async getareas(){
      return await fetch(this.url+'area', {
        method: 'get',
        headers: {
          'content-type': 'application/json',
          'Access-Control-Allow-Origin': "*"
        }
      }).then(res => {
      return res.json();
      }).then((res) => {
        return res;
      });
    }
  }
</script>