

<template>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-light">
      <h1 class="display-4">Gestion de usuarios</h1>
      <p class="lead">Esta es una prueba tecnica desarrollada en VueJs y NodeJs.</p>
    </div>
  </div>

  <div class="row">
    <div class="container">
       <UserComponent></UserComponent>
    </div>
  </div>
  
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import UserComponent from './components/User.vue';


import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue-3/dist/bootstrap-vue-3.css'

@Options({
  components: {
    UserComponent
  },
})

export default class App extends Vue {}
</script>
